body{
    background-color: azure;

}
button{
    color:gray;
    background: paleturquoise;
    border: 1px solid rgba(255,255,255,.08) ;
    border-radius: 12px;
    padding: 9px 14px;
    font-weight: 700;
    cursor: pointer;
    transition: transform .06s ease, background .2s ease, border-color .2s ease;
}
button:hover{ background:#5c75b1; }
button:active{ transform: translateY(1px); }