#video-frame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.controls{
  position:fixed; z-index:9999;
  left:16px;top:  16px; display:inline-flex; gap:8px; align-items:center;
}

.start{
  position:fixed; z-index:9999;
  left:670px;top: 450px; display:inline-flex; gap:8px; align-items:center;
  pointer-events: auto;
}
.start .btn,.controls .btn,.start.input{
  pointer-events: auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: inner-spin-button;
    opacity: 1;
}

*{ box-sizing: border-box; }
    html,body{
    margin:0; height:100%;
    background: #0f1115; color: #e8eaed;
    font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans JP", "Apple Color Emoji", "Segoe UI Emoji";
    overflow: hidden;
}


  #cups-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 100px;
    margin-top: 40px;
    height: 150px;
  }
  
  
.cup {
  width: 80px;
  height: 100px;
  background: gray;
  border-radius: 10px;
  position: absolute;
  cursor: pointer;
}
.cup:hover {
  outline: 4px solid white;
  outline-offset: 8px;
  transform: scale(1.05);
}
.cup:active{ transform: translateY(1px); }

  
  #message {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
  }

  button{
    background:#171a21; color: #e8eaed;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 12px;
    padding: 9px 14px; font-weight:700;
    cursor:pointer;
    transition: transform .06s ease, background .2s ease, border-color .2s ease;
}
button:hover{ background:#5c75b1; }
button:active{ transform: translateY(1px); }